
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400&display=swap');

:root {
    --color-left: hsl(4, 62%, 51%);
    --color-right: hsl(203, 66%, 45%);
    --color-board: hsl(9, 16%, 84%);
    --color-board-highlight: hsl(0, 10%, 94%);
    --color-board-hover: hsl(9, 100%, 99%);
    --border: solid 2px #212A2B;
    --border-double: solid 4px #212A2B;
    --text-color: hsl(186, 13%, 15%);
    --text-color-hover: hsl(187, 13%, 24%);
}

/******************* General reset ********************/

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color) ;
    line-height: 1.5;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    height: 100dvh;
    background-color: var(--body-color);
    position: relative;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

/******************* General style ********************/

body {
    height: 100dvh;
    background-color: var(--color-right);
    position: relative;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/******************* Visibility trigger ********************/

div.visible {
    visibility: inherit;
}

.title-screen.fade,
.name-screen.fade,
.game-board.fade,
.cover.fade {
    animation: fade-out 0.3s forwards;
}

.cover.fade-in {
    animation: fade-in 0.3s forwards;
}

/******************* Split background ********************/

.background-screen {
    position: absolute;
    background-color: var(--color-left);
    width: 50%;
    height: 100%;
    transition: all 0.5s ease;
}

.background-screen.win {
    width: 100%;
}
.background-screen.loose {
    width: 0;
}

/******************* General board styling ********************/

.board-style {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color:var(--color-board);
    border: var(--border);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); 
}

.board-style > *,
.end-screen > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
    user-select: none;

    font-weight: 800;
    font-size: 4rem;
}

/******************* Title ********************/

.title-screen {
    z-index: 5;
    animation: fade-in 0.3s forwards;
}

.cell.cell-play {
    font-size: 3rem;
    background-color: var(--text-color);
    color: var(--color-board);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cell.cell-play:hover {
    color: var(--color-board-hover);
    background-color: var(--text-color-hover);
}

/******************* Name input ********************/

.name-screen {
    visibility: hidden;
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color:var(--color-board);
    border: var(--border);

}

.name-form-box {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.name-form-box > * {
    height: 50%;
    border: 0;
    outline: none;
    background-color: transparent;
    border: var(--border);
    font-size: 3rem;
    font-weight: 800;
}

.name-form-box input{
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-inline: 2rem;
    background-color: var(--color-board);
    color: var(--text-color);
    text-align: center;
}

.name-form-box input::placeholder{
    opacity: 0.5;
    background-color: var(--color-board);
}

.name-form-box button {
    font-size: 3rem;
    background-color: var(--text-color);
    color: var(--color-board);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.name-form-box button:hover {
    color: var(--color-board-hover);
    background-color: var(--text-color-hover);
}

.player-name {
    text-transform: uppercase;
}

/******************* Board screen ********************/


.names {
    visibility: hidden;
    font-size: 4rem;
    font-weight: 800;
    color: var(--color-board);
    position: sticky;
    width: 100%;
    height: 150px;
    user-select: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem;
}

.names span {
    text-shadow: 2px 3px 4px rgba(0,0,0,0.5);
}

.game-board {
    z-index: 3;
}

.game-board > * {
    font-size: 6rem;
    transition: all 0.2s linear;
    cursor: pointer;
}

.game-board > *:hover {
    background-color: var(--color-board-highlight);
}

.game-board > *:not(:empty) {
    background-color: var(--color-left);
    color: var(--color-board);
}

/******************* End screen ********************/

.end-screen {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color:var(--color-board);
    border: var(--border);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); 

    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px, rgba(0, 0, 0, 0.3) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 4px 4px, rgba(0, 0, 0, 0.3) 0px 8px 8px, rgba(0, 0, 0, 0.3) 0px 16px 16px;
}

.restart {
    grid-column: span 3;
    font-size: 3rem;
    background-color: var(--text-color);
    color: var(--color-board);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.restart:hover {
    color: var(--color-board-hover);
    background-color: var(--text-color-hover);
}

/******************* Cover screen ********************/
/* covers the screen while in the background the state is resetted */

.cover {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color:var(--color-right);
}
